body {

 background-color: grey;

}

h1 {

   font-family: 'Orbitron', sans-serif;
   text-align: center;
}

canvas {

    border: 5px solid orange;
}

#status {
  text-align: center;
}

span {
  text-align: center;
}


